<ion-view view-title="History">
    <ion-content>
        <ion-list can-swipe="{{true}}">
            <ion-item class="item-icon-right"
                      ng-repeat="item in vm.history"
                      ui-sref="settler.settlement({settlementId: {{vm.getSettlementId(item)}}})">
                <h2>{{item.title}}</h2>
                <i class="icon ion-ios-checkmark-outline"
                   ng-show="item.archived && item.isCompleted && item.result.length"></i>
                <ion-option-button class="button-assertive"
                            ng-click="vm.removeItem($index)">
                    Remove
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
