.pane {
    background-color: #dfe6f2;
}

.footer-bar-centered {
    width: 100%;
    text-align: center;
}

.subtle-text {
    color: #999999;
}

.list-message {
    text-align: center;
    font-style: italic;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}
